.common-btn{
    color: #ffff;
    font-weight: 600;
}
.btn--primary-custom{
    background-color: #aac4ea;
    border-color: #aac4ea;
    margin-right: 12px;
}
.btn--secondary-custom{
    background-color:   #979b9e;
    border-color: #979b9e;

}